@model List<proekt.Models.Telefon>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron " >
    <h1>Phone Store </h1>
 

    <div class="row carousel-holder marginTop1" style="margin-left:0;">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                   
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide-image" src="https://fdn.gsmarena.com/imgroot/reviews/19/buyers-guide-mid-2019/lifestyle2/-727w2/gsmarena_005.jpg" alt="">
                    </div>
                   
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3><a href="/Telefon/Details/5">Iphone 11 pro</a></h3>
        <div class="card">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/apple-iphone-11-pro.jpg" style="height:150px;" />
            <div class="caption">


                <div class="card-body">

                    <h3> <label>Price</label>  $60000</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="/ShoppingCard/AddToShoppingCard/5">Add to Card</a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3><a href="/Telefon/Details/5">Samsung S10</a></h3>
        <div class="card">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s10-plus-new.jpg" style="height:150px;" />
            <div class="caption">


                <div class="card-body">

                    <h3> <label>Price</label>  $30000</h3>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="/ShoppingCard/AddToShoppingCard/6">Add to Card</a>

                </div>
               </div>
            </div>
        </div>

            <div class="col-md-4">
                <h3><a href="/Telefon/Details/5">Huawei P Smart</a></h3>
                <div class="card">
                    <img src="https://cdn.alzashop.com/ImgW.ashx?fd=f3&cd=HU3138b1" style="height:150px;" />
                    <div class="caption">


                        <div class="card-body">

                            <h3> <label>Price</label>  $16000</h3>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-primary" href="/ShoppingCard/AddToShoppingCard/7">Add to Card</a>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
